.nav {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #F7F7F7;
}

.ant-layout .ant-layout-has-sider {
    height: 84vh;
}

.Sider {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
}

.footer {
    float: right;
    margin-top: auto;
    align-self: flex-end;
}

.btn:hover {
    background-color: linear-gradient(180deg, rgb(137, 62, 207) 0%, #DE67A2 100%);
}

.btn:active {
    background-color: linear-gradient(180deg, rgb(137, 62, 207) 0%, #DE67A2 100%);
    transform: translateY(4px);
}

.menu {
    background: white;
    border: 1px solid #F0F0F0;
    height: inherit;
    height: auto;
    display: flex;
    flex-direction: column;
}

.ant-layout {
    background: #FFF9FE;
    border: 1px solid #F0F0F0;
}

.gutter-box {
    padding: 8px 0;
}

.site-card-wrapper {
    padding: 2%;
}

.stat {
    width: 70px;
    text-align: center;
    border-radius: 215px;
}

.mydropdown {
    width: 100px;
    height: 27px;
}

.mydropdown :hover {
    background: linear-gradient(179.33deg, #FD749B -13.56%, #281AC8 158.3%);
}

.ant-menu-item :link {
    background: none;
}

.ant-menu-item-selected :link {
    background: none;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
    color: none;
}

.ant-menu-item a:hover {
    color: white;
}

.searchbar {
    position: absolute;
    height: 40px;
    right: 100px;
    border-radius: 100px;
    width: auto;
    float: right;
    MARGIN: 5PX;
}

.ant-form-horizontal .ant-form-item-control {
    margin: 0;
}