.ant-layout-sider-zero-width-trigger {
    top: -1%;
    right: -32px;
    background-color: transparent;
    font-size: 22px;
}

.ant-layout-sider-zero-width-trigger:hover {
    background-color: transparent;
}

.anticon-bars {
    color: grey;
    background: white;
    border: 1px solid #F0F0F0
}