.ant-layout-sider-zero-width-trigger {
    top: 50% !important;
    right: -30px !important;
    background-color: transparent !important;
    font-size: 22px !important;
    border-radius: solid black 0 5 0 5 !important;
}

.ant-layout-sider-zero-width-trigger:hover {
    background-color: transparent;
}

.anticon-bars {
    color: #e8501d !important;
    background: transparent !important;
    border: 1px solid #F0F0F0 !important;
}

.ant-layout .ant-layout-has-sider {
    height: 84vh;
}

.ant-layout {
    background: #FFF9FE;
    border: 2px solid #F0F0F0;
}